# Day 14 Google PlayStore EDA

1.Import libraries\
2.Import Dataset\
3.Check the data by info()\
4.Lets have a look of data\
5.Take Sample from big data\
6.Generate Summary Statistics of data\
7.Analyze numeric variable and encode them to numeric\
> 1.Size\
> 2.Price\
> 3.Installs

## 1.Import Libraries

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('./data/googleplaystore.csv')

## Auto EDA Using ydata_profiling

In [ ]:
# Run Auto EDA using ydata-profiling
# import ydata_profiling as yd
# profile = yd.ProfileReport(df)
# profile.to_file(output_file= "./data/Auto_EDA.html")

# 2.Check the data

In [ ]:
df.info()

# 3.Lets have a look at the first 5 rows of the dataset

In [ ]:
df.head()

# 4.Take sample from big dataset

In [ ]:
df.sample(4)

# 5.Check summary statistics of the dataset

In [ ]:
df.describe().T

# 6.Analyze numeric variable and encode them to numerical variables
```
1.Size
2.Price
3.Installs
4.Reviews
```

### 1.Encoding Reviews Column

In [ ]:
# 1.Change datatype of 'Reviews' column to int64
# df['Reviews'] = df['Reviews'].str.replace(',','').astype('int64')

### 2.Encoding Size Column

In [ ]:
# print(f"1 KB in MB = {1/1024} MB")
# print(df['Size'].value_counts())
df['Size'] = df['Size'].replace('Varies with device', np.nan)
# Convert KBs to MB
df['Size'] = df['Size'].apply(lambda x: float(x.replace('k', ''))/1024 if    'k' in str(x) 
                         else float(x.replace('M', '')) if 'M' in str(x) 
                         else float(x))

### 3.Encoding Price Column

In [ ]:
# df['Price'].value_counts()
df['Price'] = df['Price'].apply(lambda x:x.replace("$",""))
df['Price'] = pd.to_numeric(df['Price'])

### 4.Encoding Installs Column

```
 First Method : To Numeric
```

In [ ]:
# df['Installs'].value_counts()
df['Installs'] = df['Installs'].str.replace(",","")
df['Installs'] = df['Installs'].str.replace('+', '').astype(float)

```
Second Method : Binning (Make groups from install column)
```

In [ ]:
bins = [0,1,500,5000,500000,1000000]
labels = ["None","Low","Medium","High","Very High"]
df['Installs_group'] = pd.cut(df['Installs'],bins=bins,labels=labels)

Installs
1.000000e+06    1579
1.000000e+07    1252
1.000000e+05    1169
1.000000e+04    1054
1.000000e+03     908
5.000000e+06     752
1.000000e+02     719
5.000000e+05     539
5.000000e+04     479
5.000000e+03     477
1.000000e+08     409
1.000000e+01     386
5.000000e+02     330
5.000000e+07     289
5.000000e+01     205
5.000000e+00      82
5.000000e+08      72
1.000000e+00      67
1.000000e+09      58
0.000000e+00      15
Name: count, dtype: int64

In [115]:
df.describe()

            Rating       Reviews         Size      Installs         Price
count  9367.000000  1.084100e+04  9146.000000  1.084100e+04  10841.000000
mean      4.191513  4.441119e+05    21.514141  1.546291e+07      1.027273
std       0.515735  2.927629e+06    22.588679  8.502557e+07     15.948971
min       1.000000  0.000000e+00     0.008301  0.000000e+00      0.000000
25%       4.000000  3.800000e+01     4.900000  1.000000e+03      0.000000
50%       4.300000  2.094000e+03    13.000000  1.000000e+05      0.000000
75%       4.500000  5.476800e+04    30.000000  5.000000e+06      0.000000
max       5.000000  7.815831e+07   100.000000  1.000000e+09    400.000000