# Feature Scaling

## 1.Min-Max Scaling

In [2]:
# min max scaling 
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

df = pd.DataFrame({'data': [10, 20, 30, 40, 50]})
scaler = MinMaxScaler()
df['data_scaled'] =scaler.fit_transform(df['data'].values.reshape(-1, 1))
df

   data  data_scaled
0    10         0.00
1    20         0.25
2    30         0.50
3    40         0.75
4    50         1.00

## 2.Standard Scaling

In [4]:
# standard scaling
from sklearn.preprocessing import StandardScaler
model = StandardScaler()
df['data_standard'] =model.fit_transform(df[['data']])
df

   data  data_scaled  data_standard
0    10         0.00      -1.414214
1    20         0.25      -0.707107
2    30         0.50       0.000000
3    40         0.75       0.707107
4    50         1.00       1.414214

## 3.Robust Scaling

In [5]:
from sklearn.preprocessing import RobustScaler
model = RobustScaler()
df['data_robust'] = model.fit_transform(df[['data']])
df

   data  data_scaled  data_standard  data_robust
0    10         0.00      -1.414214         -1.0
1    20         0.25      -0.707107         -0.5
2    30         0.50       0.000000          0.0
3    40         0.75       0.707107          0.5
4    50         1.00       1.414214          1.0

## 4.Logrithmic Scaling

In [6]:
import numpy as np
df['data_logged'] = np.log(df['data'])
df

   data  data_scaled  data_standard  data_robust  data_logged
0    10         0.00      -1.414214         -1.0     2.302585
1    20         0.25      -0.707107         -0.5     2.995732
2    30         0.50       0.000000          0.0     3.401197
3    40         0.75       0.707107          0.5     3.688879
4    50         1.00       1.414214          1.0     3.912023

# Feature Encoding

## 1.OHE

In [3]:
import pandas as pd
data = {'Color':['Red','Green','Blue','White']}
df = pd.DataFrame(data)
# One hot encoding
encoded_data = pd.get_dummies(df,columns=['Color'])
encoded_data

   Color_Blue  Color_Green  Color_Red  Color_White
0       False        False       True        False
1       False         True      False        False
2        True        False      False        False
3       False        False      False         True

## 2.Label Encoding

In [4]:
# label encoding
from sklearn.preprocessing import LabelEncoder
data = {'Animal':['Lion','Cat','Parrot','Lion','Eagle']}
df = pd.DataFrame(data)
model = LabelEncoder()
df['label_data'] = model.fit_transform(df['Animal'])
df

   Animal  label_data
0    Lion           2
1     Cat           0
2  Parrot           3
3    Lion           2
4   Eagle           1

## 3.Ordinal Encoding

In [5]:
from sklearn.preprocessing import OrdinalEncoder
data = {'Size':['Small','Medium','High','Small','Medium']}
df = pd.DataFrame(data)
model = OrdinalEncoder(categories=[['Small','Medium','High']])
df['Ordinal_data']=model.fit_transform(df[['Size']])
df

     Size  Ordinal_data
0   Small           0.0
1  Medium           1.0
2    High           2.0
3   Small           0.0
4  Medium           1.0